.container {
  display: flex;
  flex-direction: column;
  alignitems: center;
  padding-top: 4rem;
}

.list {
  padding: 0;
  list-style: none;
  overflow: auto;
  height: 70vh;
}

.header {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
